{# messages template - 05/05/2014 #}

{# inherit from base here?? #}
{% extends 'base.twig' %}

{% block content %}

{% for post in posts %}



<div class="row">
  <div class="col-md-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
          <h3 class="panel-title"><a href="{{page.root}}/users/{{ post.user_id }}">{{ post.user_name }}</a></h3>
          <p><small>{{ post.message_popname | raw }}</small></p>
          <p><small>{{ post.message_time | date('d/m/Y H:i' )}}</small></p>
      </div>
    </div>
  </div>

  <div class="col-md-10">
    <div class="panel panel-primary">
      {% if post.message_title %}
      <div class="panel-heading">
        <h3 class="panel-title">{{ post.message_title }}</h3>
      </div>
      {% endif %}
      <div class="panel-body">
        {{ post.message_text  | raw | nl2br }}
      </div>
    </div>
  </div>
</div>
<!-- <ul>
<li>userdate_user_id {{ post.update_user_id }}</li>
<li>message_html {{ post.message_html }}</li>
<li>message_id {{ post.message_id }}</li>
<li>topic_id {{ post.topic_id }}</li>
</ul> -->
{% endfor %}

{% if topic.topic_readonly == 'n' or currentUser.user_sysop == 'y' or topic.section.user_id == currentUser.user_id %}
<div class="panel panel-success">

<div class="panel-heading">
    <h3 class="panel-title">Reply...</h3>
  </div>
  <div class="panel-body">


  <form class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <label for="inputSubject" class="col-lg-2 control-label">Subject</label>
        <div class="col-lg-10">
          <input class="form-control" id="inputSubject" placeholder="Subject" type="text">
        </div>
      </div>

      <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">Post</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3" id="textArea"></textarea>
        </div>
      </div>
      <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </div>
    </fieldset>
  </form>
  </div>
</div>
{% endif %}

{% endblock %}
